<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hun's Grocer</title>
</head>
<body>
     <a href="/products" method="get">Products</a>
     <a href="/categories" method="get">Categories</a>
</body>
</html>